@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --color-orange: #cd591a;
  --color-light-orange: #e7a747;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center text-lg w-fit rounded-full px-8 py-2 text-white bg-orange border-3 border-white transition duration-200 hover:border-light-orange hover:bg-light-orange hover:-translate-y-1 hover:shadow-[0_4px_0px_rgba(56,33,1,0.8)];
  }
}
