@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  scroll-behavior: smooth;
}

.nav-link {
  @apply text-white font-medium hover:text-gray-400 transition-colors;
}

.btn {
  @apply px-6 py-3 bg-white text-black text-xl font-bold hover:bg-[#000000] hover:text-white transition-colors duration-400 shadow-md shadow-black/60;
}

.card {
  @apply w-full justify-center items-center rounded-lg py-3 hover:scale-105 transition-transform duration-200 shadow-lg shadow-black/40;
}

.tshadow-lg {
  @apply text-shadow-[0_4px_2px_rgba(0,0,0,0.9)];
}

.tshadow-sm {
  @apply text-shadow-[0_1px_6px_rgba(0,0,0,0.9)];
}
